.form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    margin: auto;
}
.form input {
    padding: 10px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.dialog {  
    width: 20%;
    height: 20%;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
}
.dialog h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #212121;
}
.dialog p {
    font-family: Arial, sans-serif;
    color: #212121;
}
.dialog button {
    width: 100%;
    padding: 7px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}